<% include ../partials/header_things %>
    <section class="section green">
        <div class="container">
          <h2>Device ID: <%=thing.thingId%></h2>
            <div class="row">
              <div class="span5">
                <p><strong>Product: </strong>
                    <%= thing.productId[0].title %>
                </p>
                <p><strong>Owner: </strong>
                    <%= thing.customerId[0].fullName %>
                </p>
                <a href=<%="/thing/" + thing._id + "/edit" %> class="pull-left"><button class="btn btn-primary"><i class="icon-pencil"></i>Edit</button></a>

                <form class="deleteForm pull-right" method="POST" action=<%="/thing/" + thing._id + "?_method=DELETE" %>>
                <p class="pull-right"><button type="submit" class="btn btn-danger"><i class="icon-trash"></i>Delete</button></p>
                </form>
              </div>
              <div class="span2">
                <p>Device image:</p>
                <img src="<%= thing.imageUrl %>" class="product-image" alt="<%= thing.productId[0].title %>">
              </div>
              <div class="span2">
                <p>Linked to this product:</p>
                <img src="<%= thing.productId[0].imageUrl %>" class="product-image" alt="<%= thing.productId[0].title %>">
              </div>
            </div>
        </div>
    </section>
