<% include ../partials/header_product %>
    <section class="section green">
        <div class="container">
          <h1 class="page-header">Edit Product</h1>
            <div class="row">
              <div class="span5">
                <form action=<%="/product/" + product.id + "?_method=PUT" %> method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" id="titleInput" value="<%= product.title %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= product.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Product Image URL</label>
                        <textarea class="form-control" id="imageUrlInput" rows="3" placeholder="Description" name="imageUrl"><%= product.imageUrl %></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
              <div class="span5">
                <a href=<%="/product/" + product._id + "/edit" %>><img src="<%= product.imageUrl %>" class="product-image" alt="<%= product.title %>"></a>
              </div>
            </div>
        </div>
    </section>
